<div>
	<div class="float-left">
		<h2>My Travel List</h2>
		<div>
		  <label>Country name:</label> <input #countryName autoColor/>
		  <button (click)="add(countryName.value); countryName.value=''">
		    Add
		  </button>
		</div>

		<ul class="countries">
		  <li *ngFor="let country of countries" (click) = "onSelect(country)" [class.selected] = 'selectedCountry == country'>
		    <span class="badge">{{country.id}}</span> {{country.name}}
		    <button class="delete"
    		(click)="delete(country); $event.stopPropagation()">x</button>
		  </li>
		  
		</ul>
	</div>
	<div *ngIf="selectedCountry">
	  <h2>
	    {{selectedCountry.name | uppercase}} is my next destination
	  </h2>
	  <button (click)="gotoDetail()">View Details</button>
	</div>
</div>